<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<!-- VueJS CDN Link -->
			<!-- Development -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

			<!-- Production
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
			-->

		<!-- Bootstrap Vue CDN CSS-->
		<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

		<!-- Bootstrap Vue CDN js links-->
		<script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
		<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

		<!-- Custom CSS Link -->
		<link rel="stylesheet" href="./ded_css/main.css">

		<title>MOW 2019 - Vue</title>
	</head>
	<body>
		<div class="main" id="app">
			    <div>
			    	<b-navbar type="light" toggleable="lg" variant="light">
			    		<b-navbar-brand @click="setTrue(0)">
								<img src="./images/dev_logos_dot_dev.svg" alt="Meals on Wheels Kingsport"/>
							</b-navbar-brand>
							<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
							<b-collapse is-nav id="nav_collapse">
								<b-navbar-nav class="ml-auto">
									<b-nav-item
										v-for="(item, index) in menuItems"
										:key="index"
										@click="setTrue(index)"
									>
										{{ item.name }}
									</b-nav-item>
								</b-navbar-nav>
							</b-collapse>
			    	</b-navbar>
					</div>

					<!-- Home page Template -->
					<template v-if="menuItems[0].show">
						<b-jumbotron fluid class="jumbotronMain">
							<h1 class="display-3 text-center">{{ title }}</h1>
							<h4 class="display-4 text-center">More than just a meal</h4>
						</b-jumbotron>
						<div>
							<b-carousel 
								id="carousel-fade"
								style="text-shadow: 1px 1px 2px #333;"
								fade
								background="#ababab"
								:interval="4000"
								img-width="1024"
								img-height="480"
							>
								<b-carousel-slide img-src="./images/Beans.jpg" />
								<b-carousel-slide img-src="./images/Prep.jpg" />
								<b-carousel-slide img-src="./images/Food_Final.jpg" />
								<b-carousel-slide img-src="./images/Delivery.jpg" />
							</b-carousel>
						</div>
					</template>

					<!-- Volunteer page Template-->
					<template v-if="menuItems[1].show">
						<b-jumbotron fluid class="jumbotron2">
							<h1 class="display-3 text-center">{{ menuItems[1].name }}</h1>
						</b-jumbotron>
					</template>
					<template v-if="menuItems[2].show">
						<b-jumbotron fluid class="jumbotron3">
							<h1 class="display-3 text-center">{{ menuItems[2].name }}</h1>
						</b-jumbotron>
					</template>
				<div class="footer">
					<b-navbar type="light" variant="light">
						<b-navbar-brand href="#">Meals On Wheels Kingsport</b-navbar-brand>
						<b-navbar-nav class="ml-auto">
							<b-nav-item @click="setTrue(4)">Contact Us</b-nav-item>
							<b-nav-item>(423)247-4511</b-nav-item>
							<b-nav-item>mowkpt@gmail.com</b-nav-item>
							<b-nav-item>Privacy Policy</b-nav-item>
						</b-nav-item>
					</b-navbar>
				</div>
		</div>
		
		<!-- Main.js link -->
		<script src="./ded_js/main.js"></script>
	</body>
</html>