html {
	background: linear-gradient(to bottom right, navy, blue);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	font-size: 12pt;
}

body {
	background-color: rgba(0, 0, 0, 0.0);
}

img {
	height: 5rem;
	width: auto;
}

.jumbotronMain {
	background: linear-gradient(to bottom left, green, lightgreen);
	height: 20rem;
}

.jumbotronMain h1 {
	color: white;
	font-weight: normal;
}

.jumbotronMain h4 {
	color: white;
	font-weight: lighter;
	margin-top: -2rem;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}