html {
	background: linear-gradient(to right, #004ea0, #001F40);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	font-size: 12pt;
}

body {
	background-color: rgba(0, 0, 0, 0.0);
}

.logo {
	height: 5rem;
	width: auto;
}

.cardHeader {
	color: white;
	font-weight: lighter;
}

.card {
	padding: 1rem;
}

.card-deck {
	height: auto;
	padding: 0 1rem 0 1rem;
}

.jumbotron2 h1, .jumbotron3 h1 {
	background: linear-gradient(to bottom right, green, darkgreen);
	padding: 1rem 3rem 1rem 3rem;
	border-radius: 2rem;
	color: white;
	font-weight: normal;
	text-shadow: 0 0 7px #004ea0;
	z-index: 50;
}

.jumbotron2, .jumbotron3 {
	background: rgba(255, 255, 255, 0);
	height: 10rem;
}

.imgHolder {
	z-index: -100;
}

.slideImg img{
	width: 50rem;
	height: 33rem;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

/* Transition CSS */
.fade-transition {
	transition: ease-in-out .5s;
	opacity: 1;
}

.fade-enter, .fade-leave {
	opacity: 0;
}