html {
	background: linear-gradient(to right, #004ea0, #001F40);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	font-size: 12pt;
}

body {
	background-color: rgba(0, 0, 0, 0.0);
}

img {
	height: 5rem;
	width: auto;
}

.jumbotronMain {
	background: rgba(255, 255, 255, .5);
	height: 18rem;
}

.jumbotronMain h1, .jumbotron2 h1, .jumbotron3 h1 {
	color: white;
	font-weight: normal;
	text-shadow: 0 0 7px #004ea0;
}

.jumbotronMain h4 {
	color: #004ea0;
	font-weight: lighter;
	margin-top: -2rem;
}

.jumbotron2, .jumbotron3 {
	background: rgba(255, 255, 255, .5);
	height: 10rem;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}